/* Tailwind */

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Manrope', sans-serif;;
}

.kd_header{
    background-image: url('../images/header-bg.jpg');
}

.kd_header_menu-elements li{
    margin-left: 48px;
}

.kd_footer-links li{
    margin-left: 48px;
}

.kd_header_content {
    margin-top: 10vw;
}

.kd_stai-services-list li{
    margin-left: 48px;
}

.kd_stai-element-image--left{
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-image: url('../images/amsterdam-studio.jpg');
}

.kd_stai-element-image--right{
    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
    background-image: url('../images/shinny-bedroom.jpg');
}

.kd_stai-element-image--bath{
    border-top-left-radius: 30%;
    border-bottom-left-radius: 30%;
    background-image: url('../images/finnese-bath.jpg');
}

.kd_service{
    height: 200px;
    width: 200px;
}

.kd_text-section{
    background-color: #222;
}